<!doctype html>
<html lang="en">
  <head>
    <title>View_Tables</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
    <form action="/dis" method="get">
            <div class="form-group">
            search<select class="form-group" name="search">
              <option>search API</option>
              </select>
            <input class="form" type="text" placeholder="Search" name="search" >
            </div>
            </form>
            </div>
         <br><br>


          <div class="container-fluid mt-5">

            <a href="/dis" class="btn btn-success">find</a><br>
         
         <table class="table table-striped table-bordered">
             <thead>
               <h5>Employee_Table:</h5>
                 <tr>
                     <th>FullName</th>
                     <th>Email</th>
                     <th>Password</th>
                     <th>Phone.no</th>
                     <th>JoinDate</th>
                     <th>DOB</th>
                     </tr>
                     </thead>
                     <tbody>
                         <%for(i=0;i<employee.length;i++){%>
                            <tr>
                                <td><%=employee[i].FullName%></td>
                                <td><%=employee[i].Email%></td>
                                <td><%=employee[i].Password%></td>
                                <td><%=employee[i].PhoneNumber%></td>
                                <td><%=employee[i].JoiningDate%></td>
                                <td><%=employee[i].DateofBirth%></td>
                                <td><a href="/update?id=<%=employee[i].employee_id%>" class="btn btn-dark">Update</a></td> 
                                <td><a href="/delete?id=<%=employee[i].employee_id%>" class="btn btn-dark">Delete</a></td>
                            </tr>
                         <%}%>
                        </tbody>
                </table>
                 <br><br><br>
        
            
                    
    </div>
   </form>
  </body>
</html>