<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container-fluid mt-5">
          <table class="table table-striped table-bordered">
                <thead><h3>Employee Details</h3>
                    <tr>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>phone Number</th>
                        <th>join Date</th>
                        <th>DateOfBirth</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (i=0;i<employee.length;i++){%>
                        <tr>
                            <td><%=employee[i].fullName%></td>
                            <td><%=employee[i].email%></td>
                            <td><%=employee[i].phoneNumber%></td>
                            <td><%=employee[i].joinDate%></td>
                            <td><%=employee[i].dateofbirth%></td>
                        </tr>    
                    <%}%>
                    <!-- <td><a href="/view/delete/<%=employee[i]._id%>">Delete</a></td> -->
                </tbody>
            </table>
            <div>
                <a href="/" class="btn btn-outline-info">Back</a>
                <a href="/" class="btn btn-success">Add Employee</a><br><br>

            </div>
      </div>
  </body>
</html>