<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <form action="/view" method="post">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form><br>
      <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>product_id</th>
                    <th>product_name</th>
                    <th>price</th>
                    <th>category_name</th>
                    <th>created_at</th>
                    <th>updated_at</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<data.length;i++){ %>
                <tr>
                    <td><%= data[i].product_id%></td>
                    <td><%= data[i].product_name%></td>
                    <td><%= data[i].price%></td>
                    <td><%= data[i].category_name%></td>
                    <td><%= data[i].created_at%></td>
                    <td><%= data[i].updated_at%></td>
                    <td><a href="/delete?id=<%= data[i].product_id%>" class="btn btn-dark">Delete</a></td>
                </tr>    
                <%} %>
            </tbody>
        </table>
      </div>
  </body>
</html>