<div>
    <form method="post" action="/search">
      <input type="text" placeholder="Search" name="search">
      <button  type="submit" value="search">Search</button>
    </form>
  </div>

<table>
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category Name<a href="/casc?c=category_name">Asc</a></th>
            <th>Price</th>
            <th>Created At</th>
            <th>Updated_at</th>
        </tr>
    </thead>
    <tbody>
        <%for (i=0;i<data.length;i++){%>
           <tr>
               <td><%=data[i].product_id%></td>
               <td><%=data[i].product_name%></td>
               <td><%=data[i].category_name%></td>
               <td><%=data[i].price%></td>
               <td><%=data[i].created_at%></td>
               <td><%=data[i].updated_at%></td>
               <td><a href="/update?id=<%=data[i].product_id%>">Update</a></td>
               <td><a href="/delete?id=<%=data[i].product_id%>">Delete</a></td>
                </tr>
               <%}%>
    </tbody>
</table>