<%# stylesheets and design%>
<%=erb :style%>

<div class="w3-container w3-animate-top">
<a href="/logout" class="w3-button w3-red w3-round w3-right w3-margin"
onclick="return confirm('Are you sure to Logout')">Logout</a>
<h2 class="w3-container w3-blue w3-center"><%=session[:user].capitalize%> Details</h2>
<table class="w3-table-all w3-card-4  w3-small w3-margin-top">
      <thead>
      <tr class="w3-black">
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Joining Date</th>
          <th>Date of Birth</th>
          <th colspan="2" class="w3-center">Action</th>
      </tr>
      </thead>
      <tbody id="table_data">
      <%emp.each do |val|%>
      <tr>
      <td><%=val['full_name']%></td>
      <td><%=val['email_address']%></td>
      <td><%=val['phone_no']%></td>
      <td><%=val['joining_date']%></td>
      <td><%=val['dob']%></td>
      <td>
      <a href="/emp_update_page?id=<%=val['emp_id']%>" 
      class="w3-button w3-green w3-ripple w3-round w3-padding-small"
      onclick="return confirm('Are you sure to Update the data')">
      <span class="material-symbols-rounded">edit_note</span></a>
      </td>
      <td><a href="/emp_delete?id=<%=val['emp_id']%>" 
      class="w3-button w3-red w3-ripple w3-round w3-padding-small" 
      onclick="return confirm('Are you sure to Delete the data')">
      <span class="material-symbols-rounded">delete</span></a>
      </td>
      </tr>
      <% end %>
      </tbody>
  </table>
  <h2 class="w3-container w3-blue w3-center">Working Project Details</h2>
  <table class="w3-table-all w3-card-4  w3-small w3-margin-top">
      <thead>
      <tr class="w3-black">
          <th>Project Name</th>
          <th>Project Lead</th>
          <th>Team Members</th>
          <th>Project Start Date</th>
          <th>Project End Date</th>
      </tr>
      </thead>
      <tbody id="table_data">
      <%pro.each do |val|%>
      <tr>
      <td><%=val['project_name']%></td>
      <td><%=val['project_lead']%></td>
      <td><%=val['team_members'].tr("{""}","")%></td>
      <td><%=val['project_s_date']%></td>
      <td><%=val['project_e_date']%></td>
      </tr>
      <% end %>
      </tbody>
  </table>
  </div>