<%# stylesheets and design%>
<%=erb :style%>

<div class="w3-container w3-margin-top">
	<form action="/pro_insert" method="post" class="w3-card-4 w3-padding">
	<h2 class="w3-center w3-blue">Project Form</h2>
		<p><label>Project Name</label>
		<input type="text" name="project_name" class="w3-input w3-border">
		</p>
		<p><label>Project Lead</label>
        <select class="w3-select" name="project_lead">
        <option disabled selected>Select Project Lead</option>
        <%values.each do |val|%>
        <option value="<%=val['full_name']%>"><%=val['full_name']%></option>
        <%end%>
        </select>
		</p>
		<p><label>Team Members</label>
        <br>

        <%values.each do |val|%>
		<input type="checkbox" name="tm[]" class="w3-check w3-border" value="<%=val['full_name']%>">
        <label class="w3-margin-right"><%=val['full_name']%></label>
        <%end%> 

		</p>
		<p><label>Project Start Date</label>
		<input type="date" name="project_s_date" class="w3-input w3-border">
		</p>
		<p><label>Project End Date</label>
		<input type="date" name="project_e_date" class="w3-input w3-border">
		</p>
		<input type="submit" class="w3-button w3-green w3-round">
	</form>
</div>
</div>