<h3>EMPLOYEE LIST</h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i>CREATE NEW</a>
<table class="table table-stripped">
    <tr>
    <th>FullName</th>
    <th>Email</th>
    <th>Password</th>
    <th>Phonenumber</th>
    <th>JoinnigDate</th>
    <th>Dateofbirth</th>
    </tr>
        {{#each list}}
        <tr>
            <td>{{this.FullName}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.Password}}</td>
            <td>{{this.Phonenumber}}</td>
            <td>{{this.JoinnigDate}}</td>
            <td>{{this.Dateofbirth}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil" style="font-size:25px;color:red"></i></a>
                 <a href="/employee/delete/{{this._id}}"><i class="fa fa-trash fa-lg" style="font-size:25px;color:red"></i></a>
            </td>
        </tr>
        {{/each}}
</table>