<!doctype html>
<html lang="en">
    <head>
      <title>Todolist</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="bg-primary">

        <form action="/add" method="post">
        <div class="class">
            <div class="form-group">
              <label for=""></label>
              <div class="container text-center">
                  <input type="text" class=""  name="name" id="entry" aria-describedby="helpId" placeholder="enter the Task name">
                  <br><br><button type="submit" id="addtodo">Add</button>
                  <div class="to_do" id="todocontain">
                  </div>
              </div>
            </div>
        </div>
      </form>
      <!-- <div class="row"> -->
        <div class="container col-sm-6">
          <h3>Todo Task</h3>  
          <ul class="list-group">
            <% for(var i = 0; i <data.length; i++){ %>
              <% if(data[i].status == 0){%>
              <li class="list-group-item">
                <button class="btn btn-dark" type="checkbox" name="todo" value="<%= data[i].task%>" onclick='moveTask(event,"<%= data[i].id%>")'> <%= data[i].task%></li>
              <%} %>
              <%} %>
            </ul>
          </div>
          <div class="container col-sm-6">
            <h3>Done Task</h3>  
            <ul class="list-group">
              <% for(var i = 0; i <data.length; i++){ %>
                <% if(data[i].status == 1){%>
                  <li class="list-group-item">
                <button class="btn btn-dark" type="checkbox" name="done" value="<%= data[i].id%>" onclick='moveTask(event,"<%= data[i].id%>")' /> <%= data[i].task%></li>
                <%} %>
                <%} %>
              </ul>
            </div>
        <!-- </div> -->
        <script>
        function moveTask(event, id){
        const{name} = event.target;
        fetch("/moveTaskDone", 
        {method: "PUT",
        headers: {
        "Content-Type": "application/json"
        },
        body: JSON.stringify({name, id})
        }).then(response => response.json()).then(status=> {
        window.location.reload()
        }).catch(err => console.log(err))}
        </script>
    </body>
  </html>
