<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<body>
          <h1 class="text-center display-4"> Updating Employee Details</h1>
        <div class="container w-50 containetr-fluid my-3">
            <form action="/empupdate" method="post">
                <input type="text" style="display: none;" name="emp_id"value="<%=emp[0]['emp_id']%>">
                <label class="h3" for="name">Full Name:</label> <input class="form-control mb-2" type="text" name="fname" value="<%=emp[0]['fname']%>" placeholder="Enter name" id="name" required>
                <label class="h3" for="Email">Email:</label> <input class="form-control mb-2" type="email" value="<%=emp[0]['email']%>" name="email" placeholder="Email Address" id="Email">
                <label class="h3" for="phono">Phone Number:</label> <input class="form-control mb-2" type="tel" pattern="[0-9]{10}" value="<%=emp[0]['phoneno']%>"  name="phoneno" placeholder="phone number" minlength="10" maxlength="10" required id="phono">
      <label class="h3" for="DOJ">Joining Date:</label>  <input class="form-control mb-2" type="date" value="<%=emp[0]['joining_date']%>" name="joining_date"  placeholder="joining date" id="DOJ" required>
      <label class="h3" for="DOB">Date Of Birth:</label>   <input class="form-control mb-2" type="date" value="<%=emp[0]['date_of_birth']%>" name="date_of_birth" placeholder="Date of birth "id="DOB" required>
        <button class="btn btn-success" type="submit"">submit</button>
            </form>
        </div>
         <div class="container text-center">
            <a href="/viewemp" class="btn btn-info">View</a>
            <a href="/viewemp" class="btn btn-primary">Cancel</a>
         </div>
</body>
</html>