<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <style>
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  </style>
</head>
<body>
  <h1 class="text-center display-4"> Inserting Project Details</h1>
  <div class="container w-50 containetr-fluid my-3">
 
   <form action="/proupdate" method="post">
   <input type="text" style="display: none;" name="pro_id"value="<%=pro[0]['pro_id']%>">
  <label class="h3" for="pname">Project Name:</label>
    <input value="<%=pro[0]["pro_name"]%>" required class="form-control mb-2" type="text" id="pname" placeholder="Enter Project name" name="project_name">
    <label class="h3" for="Prolead">Project Lead:</label>

    <select class="custom-select mb-2" name="project_lead" id="Prolead">

      <%emp.each do |i| %>
        <%if(i["fname"]==pro[0]["pro_lead"])%>
        <option selected value="<%=i["fname"]%>"><%=i["fname"]%></option>
        <%next%>
        <%end%>
        <option value="<%=i["fname"]%>"><%=i["fname"]%></option>
      <%end%>
     
    </select>
    <label class="h3" for="teammem">Team Member:</label>

    <select multiple="multiple"class="custom-select mb-2" name="team_member[]" id="teammem">
  
    <%pro[0]["team_member"].tr("{}",'').split(',').each do |j|%>
       
          <option selected value="<%=j%>"><%=j%></option>
       
    <%end%>
    <%a=[]%>
    <%emp.each do |i| %>
          <%a.push(i["fname"])%>
     <%end%>
   <%b=a-pro[0]["team_member"].tr("{}",'').split(',')%>

    <%b.each do |i|%>
        <option value="<%=i%>"><%=i%></option>
     <%end%>
        
    </select>
 


   
   
    <label class="h3" for="sdate">Start Date:</label>
    <input required value="<%=pro[0]["start_date"]%>" class="form-control mb-2" type="date" id="sdate" placeholder="Project Start Date" name="sdate">
    <label class="h3" for="edate">End Date:</label><input value="<%=pro[0]["end_date"]%>" required class="form-control mb-2" type="date" id="edate" placeholder="Project End Date " name="edate">
   <input  type="submit" class="btn btn-success" value="submit">
  </form>
  

  </div>
  <div class="container text-center">
    <a href="/viewpro" class="btn btn-info">View</a>
  </div>
  

</body>
</html>


