<!doctype html>
<html lang="en">
  <head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-secondary"> 
        <form action="/viewprodata" method="get">
        <input class="form"  type="text" name="search" placeholder="Search" >
        <button class="btn btn-dark" type="submit">Search</button>
        </form>
        <div>
          <br> <table class="table table-bordered">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Project Lead</th>
                <th>Team Members</th>
                <th>Project Start Date</th>
                <th>Project Death Date</th>
                <% projdata.each do |row| %>
             </tr>
                <tr>
                  <td><%= row['projectname']%></td>
                  <td><%= row['projectlead']%></td>
                  <td><%= row['teammembers']%></td>
                  <td><%= row['project_start_date']%></td>
                  <td><%= row['project_death_date']%></td>
                  <td><a href="/pro_update?id=<%=row['projectid']%>" class="btn btn-dark">Update</a></td>
                  <td><a href="/prodelete?id=<%=row['projectid']%>" class="btn btn-dark">Delete</a></td>
                </tr>
               <% end %>
                
              </tr>
            </thead>
            <tbody id="content">
           
            </tbody>
            </table>
            </body>
</html>