<%-include("style.ejs")-%>

<div>
    <form method="post" action="/searche?authorization=<%=authorization%>">
        <div class="container-fluid mt-3">
            <input type="text" class="form-control" placeholder="Search" name="searche">
            <button  type="submit" class=" mt-2 btn btn-outline-info" value="search">Search</button>
        </div>
    </form>
  </div>
  
<div class="container-fluid mt-5">
    <a href="/project" class="btn btn-success">Create New</a><br><br>
    <table class="table table-striped table-bordered">
        <thead><h1>Project</h1>
            <tr>
                <th>Project Name</th>
                <th>Project Lead</th>
                <th>Team member</th>
                <th>Project StartDate</th>
                <th>Project EndDate</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <%for (i=0;i<proj.length;i++){%>
                <tr>
               <td><%=proj[i].pro_name%></td>
               <td><%=proj[i].pro_lead%></td>
               <td><%=proj[i].team_mem%></td>
               <td><%=proj[i].Psdate%></td>
               <td><%=proj[i].Pedate%></td>
               <td><a href="/proupdate?id=<%=proj[i]._id%>" class="btn btn-info">Update</a></td>
               <td><a href="/deleted?id=<%=proj[i]._id%>" class="btn btn-danger" onclick="return confirm('Are you sure you sure you want to delete this?')">Delete</a></td>
               <%}%>
            </tbody>
        </table>
        
        <div class="text-center">
            <a href="/project" class="btn btn-primary">Back</a>
        </div>
</div>