<%-include("style.ejs");-%>
<body>
      <div class="container mt-5 jumbotron">
          <h3 class=""> <h3> Update Employee Details</h3><br>
          <form action="/updatedata?id=<%=id%>" method="POST">
              <div>
                <label id="fname" >Fullname:</label>
                <input type="text" class="form-control" id="fname" placeholder="Enter Fullname" value="<%=emp[0].full_name%>" name="full_name"><br><br>
              </div>
            <div>
              <label id="mail" >Enter your email:</label>
              <input type="text" class="form-control" id="mail" placeholder="Enter email" value="<%=emp[0].email%>" name="email"><br><br>
            </div>
            <div >
              <label id="pwd" >Enter the Password:</label>
              <input type="password"  class="form-control" id="pwd" placeholder="Password"  value="<%=emp[0].password%>" name="password"><br><br>
            </div>
            <div >
              <label id="numb" >Enter Phone number:</label>
              <input type="number" class="form-control" id="numb" placeholder="Phone number" value="<%=emp[0].phonenumber%>" name="phonenumber"><br><br>
            </div>
            <div >
              <label id="jdate" >Joining date:</label>
              <input type="date"  class="form-control"  value="<%=emp[0].joiningdate%>"  placeholder="MM/DD/YYY" name="joiningdate"><br><br>
            </div>
            <div>
              <label id="dob">Date of birth:</label>
              <input type="date"  class="form-control"   value="<%=emp[0].dateofbirth%>" placeholder="MM/DD/YYY" name="dateofbirth"><br><br>
            </div>
            <input type="submit" class="btn btn-outline-success">
            <a  href="/list" class="btn btn-outline-info">View</a>
            <a href="/project" class="btn btn-outline-Secondary">Create Project</a>
          </form>
            
      </div>
    </body>