<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Project</title>
</head>
<body>
    <div>
        <form method="post" action="searchpro">
          <input type="text" placeholder="Search" name="search">
          <button  type="submit" value="search">Search</button>
        </form>
      </div>
    
    <table>
        <thead>
            <tr>
                <th>Pro_Name</th>
                <th>Pro_Lead</th>
                <th>Team_member</th>
                <th>PSD</th>
                <th>PED</th>
            </tr>
        </thead>
        <tbody>
            <%for (i=0;i<Project.length;i++){%>
               <tr>
                   <td><%=Project[i].Projectname%></td>
                   <td><%=Project[i].Projectlead%></td>
                   <td><%=Project[i].Teammember%></td>
                   <td><%=Project[i].Projectstartdate%></td>
                   <td><%=Project[i].Projectenddate%></td>
                    </tr>
                   <%}%>
        </tbody>
    </table>
</body>
</html>