<%-include('style.ejs')%>
<div class="container-fluid mt-5">
    <form action="/searchemp" autocomplete="off" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here..." name="input">
              <button type="submit" class="btn btn-dark mt-2">Search</button>
        </div>
    </form>
<table class="table table-borderd">
    <thead class="thead-dark">
    <tr>
      <th>Employee_id</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone No</th>
      <th>Date of Joining</th>
      <th>Date of Birth</th>
      <th>Action</th>
      <th>Action</th>
    </tr> 
</thead>
  <tbody>
    <%for(var i=0;i<employee.length;i++){%>
        <tr>
            <td><%=employee[i].employee_id%></td>
            <td><%=employee[i].fullname%></td>
            <td><%=employee[i].email%></td>
            <td><%=employee[i].phone_number%></td>
            <td><%=employee[i].joiningdate%></td>
            <td><%=employee[i].date_of_birth%></td>
            <td><a href="/updateEmp?id=<%=employee[i].employee_id%>" class="btn btn-success">Update</a></td>
            <td><a href="/deleteEmp?id=<%=employee[i].employee_id%>" class="btn btn-danger">Delete</a></td>
        </tr>
        <%}%>
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-info" href="/">Back</a>
</div>
</div>
<%-include('style.ejs')%>
<div class="container-fluid mt-5">
    <form action="/searchpro" autocomplete="off" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here..." name="input">
            <input type="submit" class="btn btn-dark mt-2" placeholder="Search">
        </div>
    </form>
<table class="table table-borderd">
    <thead class="thead-dark">
           <tr>
               <th>Project Id</th>
               <th>Project Name</th>
               <th>Project Lead</th>
               <th>Project Start Date</th>
               <th>Project End Date</th>
               <th>Action</th>
               <th>Action</th>
           </tr> 
</thead>
  <tbody>
    <%for(var i=0;i<project.length;i++){%>
        <tr>
            <td><%=project[i].project_id%></td>
            <td><%=project[i].projectname%></td>
            <td><%=project[i].projectlead%></td>
            <td><%=project[i].project_start_date%></td>
            <td><%=project[i].project_end_date%></td>
            <td><a href="/updatePro?id=<%=project[i].project_id%>" class="btn btn-success">Update</a></td>
            <td><a href="/deletePro?id=<%=project[i].project_id%>" class="btn btn-danger">Delete</a></td>
        </tr>
        <%}%>
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-info" href="/">Back</a>
</div>
</div>
