<div  class=" post mt-5 pt-5 " id="<%= dom_id post %>">


    

 
 <p class="display-4 fw-bolder text-info " ><%=  User.find_by(id: post.user_id).name%></p> 


    
   <p class="display-3"> <%= post.post %></p>

    Posted on<span class="display-5 text-success">
 <%= post.created_at%>
  
 
</span>
<div class="display-6"><%= render 'comment/index', post: post.id %></div>
<p class="text-center"><%= render 'comment/new', post_val: post.id %>
</p>
</div>
