<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <form method="get" action="/search">
      <div class="container-fluid mt-5">
        <input type="text" placeholder="Search.." name="search">
        <input type="submit" value="search"><br><br>
        </div>
      </form>
          <table class="table table-striped table-bordered">
                <thead><h3>Employee Details</h3>
                    <tr>
                        <th>FullName</th>
                        <th>Email</th>
                        <!-- <th>EmployeeType</th> -->
                        <th>PhoneNumber</th>
                        <th>JoinDate</th>
                        <th>DateOfBirth</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (i=0;i<employee.length;i++){%>
                        <tr>
                            <td><%=employee[i].fullName%></td>
                            <td><%=employee[i].email%></td>
                            <!-- <td><%=employee[i].employeeType%></td> -->
                            <td><%=employee[i].phoneNumber%></td>
                            <!-- <td><%=new Date(employee[i].joinDate)%></td> -->
                            <td><%= `${new Date(employee[i].joinDate).getMonth()+1}-${new Date(employee[i].joinDate).getDate()}-${new Date(employee[i].joinDate).getFullYear()} `%></td>
                            <td><%= `${new Date(employee[i].dateofbirth).getMonth()+1}-${new Date(employee[i].dateofbirth).getDate()}-${new Date(employee[i].dateofbirth).getFullYear()} `%></td>
                            <!-- <td><%=employee[i].dateofbirth%></td> -->
                            <td><a href="/delete?id=<%=employee[i]._id%>" onclick=" confirm('sure! you want to delete the data');">Delete</a></td>
                            <!-- <td><a href="/update?id=<%=employee[i]._id%>">Update </a></td> -->
                            <td><a href="/empupdate?id=<%=employee[i]._id%>"><i class='fas fa-pencil-alt'></i></a></td>
                        </tr>    
                    <%}%>

                </tbody>
            </table>
            <div>
                <a href="/" class="btn btn-outline-info">Back</a>
                <a href="/" class="btn btn-success">Add Employee</a><br><br>

            </div>
      </div>
  </body>
</html>