<%# stylesheets and design%>
<%=erb :style%>


<div class="w3-container w3-margin-top">
	<form action="/emp_update_data?id=<%=params['id']%>" method="post" class="w3-card-4 w3-padding">
	<h2 class="w3-center w3-blue">Update Employee Form</h2>
		<p><label>Full Name</label>
        <%val.each do |v|%>
		<input type="text" name="fname" class="w3-input w3-border" value="<%=v['full_name']%>">
		</p>
		<p><label>Email Address</label>
		<input type="email" name="email" class="w3-input w3-border" value="<%=v['email_address']%>">
		</p>
		<p><label>Password</label>
		<input type="password" name="password" class="w3-input w3-border" value="<%=v['password']%>">
		</p>
		<p><label>Phone Number</label>
		<input type="number" name="phno" class="w3-input w3-border" value="<%=v['phone_no']%>">
		</p>
        <%end%>
		<p><label>Joining date</label>
		<input type="date" name="joining_date" class="w3-input w3-border" value="<%=jd%>">
		</p>
		<p><label>Date of Birth</label>
		<input type="date" name="dob" class="w3-input w3-border" value="<%=dob%>">
		</p>
		<input type="submit" class="w3-button w3-green w3-round">
	</form>
</div>
</div>